*~
.*.sw?
.sw?
test-server.log
test-client.log
commonlib/consts.go
vars.json
secretshare-server.json
secretshare-server-test.json
install_linux.sh
install_osx.sh
build
aws_creds
docker-secretshare-server.json
test.txt
test_env
vendor
packaging/secretshare.app
packaging/secretshare.dmg
packaging/gopath
packaging/secretshare*.tar.gz
packaging/debs
assets/secretshare.iconset
assets/secretshare.icns
assets/secretshare_dmg_background.png
build-debs-stamp
deb-work
artifacts
release.yaml
SHA256SUMS.linux
SHA256SUMS.osx
SHA256SUMS.windows
