[Unit]
Description=Server for secretshare
After=syslog.target network.target

[Service]
Type=notify
Restart=always
KillSignal=SIGQUIT
ExecStart=/usr/bin/secretshare-server
User=secretshare
Group=secretshare
