[Desktop Entry]

Type=Application
Version=1.0
Name=secretshare
Comment=Share secrets securely
Exec=/usr/bin/secretshare-gui
Icon=secretshare
Terminal=false
Categories=Utility
